<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/meta') %>
  </head>

  <body>
    <%- include('./partials/header') %>
    <section class="primerafranja-experiencias">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 class="color-amarillo"><%= slogan %></h2>
          </div>
          <div class="col-12">
            <h3 class="color-mandarina"><%= frase %></h2>
          </div>
        </div>
      </div>
    </section>

    <%- include('./partials/footer') %>
  </body>
</html>
